body {
    background-color: #B1A296;
}

.error {
    color: red;
}

header {
    padding: 80px 0 5px;
    border-bottom: 1px solid #133783;
    margin-bottom: 10px;
    font-size: 20px;

}

.navbar-blue {
    background-color: #3b5998;
    background-image: linear-gradient(#4e69a2, #3b5998 50%);
    border-bottom: 1px solid #133783;
}

.navbar-blue a {
    color: white !important;
}



.navbar-blue a:hover {
    background: rgba(0, 0, 0, .1);
}
.card-body {
    background-color: burlywood!important;
}
.bg-dark{
   color:  bisque!important;
}
ul{
    list-style: none!important;
    }
.list-group-item{
    background-color: lightseagreen!important;

}